  body {
    font-family: 'Lora', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .github-widget {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid purple;
    border-radius: 10px;
  }